{% include "inc/head.html" %}

{# login.html #}
{% if erro == 1 %}
    Usuário ou senha inválido! 😳
{% elseif erro == 2 %}
    Voce está tentando acessar uma página restrita,
    safadinho! 😳
{% endif %}
<form action="login_verifica.php" method="POST">
    <div>
        <input type="text" name="user" placeholder="Usuário">
    </div>
    <div>
        <input type="password" name="pass" placeholder="senha">
    </div>
    <div>
         <input type="submit" value="Acessar">
    </div>
</form>


  {% include "inc/foot.html" %}