{% include "inc/head.html" %}

<h1>Welcome to the jungle</h1>

 
    <p>O máquinífico {{ info.username }}, com nome real {{ info.nome }}, com id {{ info.idusuarios }} e com email {{ info.email }}</p>

    <form action="/usuario_atualizar" method="POST">
        <div>
        Nome:
            <input type="text" name="nome" value="{{ info.nome }}">
        </div>
        <div>
        E-mail:
            <input type="mail" name="email" value="{{ info.email }}">
        </div>
        <div>
        Username:
            <input type="text" name="username" value="{{ info.username }}">
        </div>
        <input type="hidden" name="id" value="{{ info.idusuarios }}">
        <input type="submit" value="atualizar">
    </form>
 

{% include "inc/foot.html" %}