{% include "inc/head.html" %}

<h1>Welcome to the jungle</h1>
<p>parabens</p>
    <h3>Usuário autenticado: </h3>


  <table border=1>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Admin</th>
      <th>Ativo</th>
      <th>Funções</th>
    </tr>
  </thead>
  <tbody>
  {% for usr in user %}
    <tr>
      <td>{{ usr.username }}</td>
      <td>{{ usr.admin }}</td>
      <td>{{ usr.ativo }}</td>
      <td><a href="usuario_apagar.php?id={{ usr.idusuarios }}">apagar</a></td>
    </tr>
    
    {% endfor %}

  </tbody>
</table> 

